<p id="notice"><%= notice %></p>

<p>
  <strong>投稿:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @post.content %>
</p>


  <div id="comments_area">
    <h2>リプライ</h2>
    <% @comments.each do |comment| %>
      <% if comment.parent_id.present? || comment.id.blank? %>
        <% next %>
      <% end %>
        <hr>
        <p>  : <%=comment.content%></p>
        <p> date : <%=comment.created_at.strftime("%Y-%m-%d %H:%M") %>
      <div id="reply_area">
        <% comment.replies.order(:created_at).each do |reply| %>
        <p>  : <%=reply.content%></p>
        <% end %>
      </div>
        <%= form_with(model:[@post,@comment_reply]) do |form| %>
        <div class="row">
          <div class="form-group col-md-6">
            <p><label>Reply</label></p>
            <textarea class="form-control input-form" name="comment[content]" rows="2"><%=@comment_reply.content%></textarea>
          </div>
        </div>
          <%= form.hidden_field :post_id, value: @post.id %>
          <%= form.hidden_field :parent_id, value: comment.id%>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    <% end %>

    
  </div>

    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to '戻る', posts_path %>